.createOrder {
    position: absolute !important;
    padding-top: 120px;
    padding-left: 500px;
    margin-bottom: 0%;
}
.btn-AddOrder {
    margin-left: 50px;
    margin-top: -100px;
}

.productImg{
    height: 40px;
    width: 45px;
}
.column{
    display: inline;
}
.wash-type{
    display: inline;
}
.table{
    margin-top: 10px;
}
.table-head {
    top: 176px;
    left: 108px;
    width: 1295px;
    height: 100px;
    background: #2F2F2F 0% 0% no-repeat padding-box;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    opacity: 1;    
    color: white;
    height: 20px;
}
.table-content{
    /* Layout Properties */
top: 177px;
left: 108px;
width: 1295px;
height: auto;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #E0E0E0;
border-radius: 2px;
opacity: 1;
}